<form class="text-font form full-screen-form" [formGroup]="form" (ngSubmit)="signIn()">
  <p class="form-text">Welcome to the Blue Plague.</p>
  <p *ngIf="showConfirmationMessage" class="form-text">Email is successfully confirmed!</p>
  <p *ngIf="showPasswordWasChangedMessage" class="form-text">Password was changed.</p>
  <p class="form-text">Authorization required...</p>
  <app-text-input class="form-text form-info" formControlName="email">Email:</app-text-input>
  <app-text-input class="form-text form-info password" formControlName="password" type="password">Password:</app-text-input>
  <app-link class="article-font-inactive form-sub-link password-link" (click)="toForgotPassword()">Forgot password?</app-link>
  <p></p>
  <app-button class="form-info form-button" type="submit">Sign in</app-button>
  <app-button class="form-info form-button" type="button" (buttonClick)="toSignUp()">Sign up</app-button>
</form>