<div [ngSwitch]="userState" class="lobby-user-panel">
  <app-sign-in *ngSwitchCase="userManagementWindowEnum.SignIn"></app-sign-in>
  <app-sign-up *ngSwitchCase="userManagementWindowEnum.SignUp"></app-sign-up>
  <app-email-confirmation *ngSwitchCase="userManagementWindowEnum.EmailConfirmation"></app-email-confirmation>
  <app-user *ngSwitchCase="userManagementWindowEnum.User"></app-user>
  <app-user-management-loading *ngSwitchCase="userManagementWindowEnum.Loading"></app-user-management-loading>
</div>