.lobby-background {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.form-text {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s infinite;
  opacity: 0;
}

.typing-text-forward {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.5s steps(20, end) forwards;
  opacity: 0;
}

.appear-text {
  animation: appear 0.1s steps(20, end) forwards;
  opacity: 0;
}

.form-button {
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 2px 0;
  display: flex;
  flex-direction: row;
}

.form-sub-link {
  margin-left: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
}

.full-screen-form {
  min-height: 585px;
}

p {
  margin: 6px 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}