.lobby-background {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.5s steps(20, end);
  animation-fill-mode: forwards;
  opacity: 0;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}