.article-font {
  font: 18px PT Mono;
  color: white;
}

.text-font {
  font: 22px PT Mono;
  font-weight: 500;
  color: white;
}

.text-font-inactive {
  font: 22px PT Mono;
  color: white;
  cursor: default;
  font-weight: 500;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-font {
  font: 26px PT Mono;
  font-weight: bold;
  color: white;
}

.title-font-inactive {
  font: 26px PT Mono;
  color: white;
  cursor: default;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}