.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1
}

.modal {
  border: double #fff;
  border-width: 5px;
  background-color: black;
}