:host {
  @import '../../../app.module.scss';
  @import '../ascii-game.module.scss';

  .hud-container {
    display: flex;
    flex-direction: row;
    .part {
      display: flex;
      flex-direction: column;
      .log {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        padding-bottom: 2px;
      }
    }
    .filler {
      flex: 1
    }
  }
}