:host {
  @import '../../ascii-game.module.scss';

  position: absolute;
  .menu-item {
      width: 24px;
      height: 24px;
      background-color: #000;
      border: double #999;
      border-width: thick;
      border-radius: 24px;
      font-weight: bold;
      color: #999;
      justify-content: center;
      display: flex;
      align-items: center;
  }

  .active {
    cursor: pointer;
    color: #fff;
    border-color: #fff;
  }

  .active:hover {
    cursor: pointer;
    color: #ff5;
    border-color: #ff5;
  }
}