:host {
  div {
    width: 100%;
  }
  input {
    border: none;
    background: none;
    border-bottom: solid 2px;
    flex: 1;
    outline: none;
    margin-left: 4px;
    width: 100%;
    color: white;
  }
  p {
    margin: inherit;
    width: 100%;
    display: flex;
    white-space: nowrap;
    margin: 0;
  }
  .extra {
    margin-top: 4px;
    margin-left: 12px;
    white-space: initial;
  }
}