<form class="text-font form full-screen-form" [formGroup]="form" (ngSubmit)="forgotPassword()">
  <p class="form-text">Type your email and we send a password-restore link to it.</p>
  <app-text-input class="form-text form-info" formControlName="email" [validations]="form.controls.email.errors">Email:</app-text-input>
  <p></p>
  <p *ngIf="sent" class="form-text button-filler">Email was sent. Check your email.</p>
  <app-button *ngIf="time <= 0" class="form-info form-button" type="submit">Submit</app-button>
  <p *ngIf="time > 0" class="form-text button-filler">{{time}} seconds untill next attempt.</p>
  <div class="filler"></div>
  <app-button class="form-info form-button" type="button" (buttonClick)="toSignIn()" [size]="componentSizeEnum.Small">Back</app-button>
</form>