<canvas #gameCanvas class="game-canvas" width="1920" height="1080" 
  (window:resize)="onResize($event)" (window:keydown)="onKeyDown($event)"
  (window:keyup)="onKeyUp($event)" (window:mousedown)="onMouseDown($event)"
  (window:mouseup)="onMouseUp($event)" (window:mousemove)="onMouseMove($event)">
  Not working in your browser
</canvas>
<app-graphical-interface [logSubject]="logSubject" (guiMouseLeaveEvent)="onMouseLeave()"></app-graphical-interface>
<app-context-menu *ngIf="contextMenu" [textHeight]="tileHeight" [top]="contextY" [left]="contextX" [context]="contextMenu"
  (doAction)="doAction($event)"></app-context-menu>