<canvas #gameCanvas class="game-canvas" width="1920" height="1080" 
  (window:resize)="onResize($event)" (window:keydown)="onKeyDown($event)"
  (window:keyup)="onKeyUp($event)" (window:mousedown)="onMouseDown($event)"
  (window:mouseup)="onMouseUp($event)" (window:mousemove)="onMouseMove($event)">
  Not working in your browser
</canvas>
<app-context-menu *ngIf="contextMenu" [textHeight]="tileHeight" [context]="contextMenu" [top]="contextY + 'px'" [left]="contextX + 'px'"
  (doAction)="doAction($event)"></app-context-menu>