:host {
  .hud-container {
    display: flex;
    flex-direction: row;
    .top-info {
      background-color: black;
      height: 50px;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
    .part {
      padding: 6px;
      display: flex;
      flex-direction: column;
      .log {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        padding-bottom: 2px;
      }
    }
  }
}