:host {
  @import '../lobby.module.scss';

  .lobby-panel {
    position: relative;
    height: 610px;
    margin: 32px;
    border: double #fff 5px;
    background: #000;
    display: block;
  }

  .lobby-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

  .lobby-panels-container {
    justify-content: center;
  }
}