<form class="text-font form" [formGroup]="form" (ngSubmit)="forgotPassword()">
  <p class="form-text">Type your email and we send a password-restore link to it.</p>
  <app-text-input class="form-text form-info" formControlName="email" [validations]="form.controls.email.errors">Email:</app-text-input>
  <p></p>
  <app-button *ngIf="!sent" class="form-info form-button" type="submit">Submit</app-button>
  <p *ngIf="sent" class="form-text button-filler">Check your email.</p>
  <app-button class="form-info form-button" type="button" (buttonClick)="toSignIn()">To lobby</app-button>
</form>